<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitedu.bipa.simplesignbackend.mapper.ApprovalBoxMapper">
    <select id="getDocumentsByViewItems" resultType="bitedu.bipa.simplesignbackend.model.dto.DocumentListDTO">
        SELECT DISTINCT ad.approval_doc_id, ad.approval_doc_title, ad.created_at, ad.org_user_id, ad.doc_status, u.user_name, d.dept_name, f.form_name
        FROM approval_doc ad
        LEFT JOIN approval a ON ad.approval_doc_id = a.approval_doc_id
        JOIN user u ON (ad.org_user_id = u.user_id and u.user_id=#{userId})
        JOIN organization_user ou ON ou.user_id = #{userId}
        JOIN department d ON d.dept_id = ou.dept_id
        LEFT JOIN form f ON ad.form_code = f.form_code
        WHERE ad.doc_del_status = 0
        AND (
        <foreach collection="viewItems" item="viewItem" separator="OR">
            <if test="viewItem == 'send'">
                (ad.org_user_id = #{userId} AND ad.doc_status IN ('A', 'R', 'P', 'W') AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId}))
            </if>
            <if test="viewItem == 'tempor'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'T')
            </if>
            <if test="viewItem == 'pend'">
                (EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND a.approval_status = 'P'))
            </if>
            <if test="viewItem == 'concluded'">
                (EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND ad.doc_status IN ('A', 'R', 'P') AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'reference'">
                (ad.doc_status != 'T' and (EXISTS (SELECT 1 FROM received_ref r WHERE r.approval_doc_id = ad.approval_doc_id  AND (r.use_id =1 and r.category = 'U') OR (r.use_id =1 and r.category='D') OR (r.use_id = 1 and r.category='E') OR (r.use_id = 1 and r.category='C'))) )
            </if>
            <if test="viewItem == 'progress'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'P' AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.user_id = #{userId} AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'end'">
                (ad.org_user_id = #{userId} AND ad.doc_status  IN ('A', 'R') AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'reject'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'R' AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId}))
            </if>
        </foreach>
        )
        ORDER BY ad.created_at DESC
        LIMIT #{itemsPerPage} OFFSET #{offset};
    </select>




    <select id="getDocCountByViewItems" resultType="bitedu.bipa.simplesignbackend.model.dto.DocumentListDTO">
        SELECT DISTINCT ad.approval_doc_id, ad.approval_doc_title, ad.created_at, ad.org_user_id, ad.doc_status, u.user_name, d.dept_name, f.form_name
        FROM approval_doc ad
        LEFT JOIN approval a ON ad.approval_doc_id = a.approval_doc_id
        JOIN user u ON (ad.org_user_id = u.user_id and u.user_id=#{userId})
        JOIN organization_user ou ON ou.user_id = #{userId}
        JOIN department d ON d.dept_id = ou.dept_id
        LEFT JOIN form f ON ad.form_code = f.form_code
        WHERE ad.doc_del_status = 0
        AND (
        <foreach collection="viewItems" item="viewItem" separator="OR">
            <if test="viewItem == 'send'">
                (ad.org_user_id = #{userId} AND ad.doc_status IN ('A', 'R', 'P', 'W') AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId}))
            </if>
            <if test="viewItem == 'tempor'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'T')
            </if>
            <if test="viewItem == 'pend'">
                (EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND a.approval_status = 'P'))
            </if>
            <if test="viewItem == 'concluded'">
                (EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND ad.doc_status IN ('A', 'R', 'P') AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'reference'">
                (ad.doc_status != 'T' and (EXISTS (SELECT 1 FROM received_ref r WHERE r.approval_doc_id = ad.approval_doc_id  AND (r.use_id =1 and r.category = 'U') OR (r.use_id =1 and r.category='D') OR (r.use_id = 1 and r.category='E') OR (r.use_id = 1 and r.category='C'))) )
            </if>
            <if test="viewItem == 'progress'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'P' AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.user_id = #{userId} AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'end'">
                (ad.org_user_id = #{userId} AND ad.doc_status  IN ('A', 'R') AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'reject'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'R' AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId}))
            </if>
        </foreach>
        );
    </select>



    <select id="getSearchDocumentsByViewItems" resultType="bitedu.bipa.simplesignbackend.model.dto.DocumentListDTO">
        SELECT DISTINCT ad.approval_doc_id, ad.approval_doc_title, ad.created_at, ad.org_user_id, ad.doc_status, u.user_name, d.dept_name, f.form_name
        FROM approval_doc ad
        LEFT JOIN approval a ON ad.approval_doc_id = a.approval_doc_id
        JOIN user u ON (ad.org_user_id = u.user_id and u.user_id=#{userId})
        JOIN organization_user ou ON ou.user_id = #{userId}
        JOIN department d ON d.dept_id = ou.dept_id
        LEFT JOIN form f ON ad.form_code = f.form_code
        WHERE ad.doc_del_status = 0
        AND (
        <foreach collection="viewItems" item="viewItem" separator="OR">
            <if test="viewItem == 'send'">
                (ad.org_user_id = #{userId} AND ad.doc_status IN ('A', 'R', 'P', 'W') AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId}))
            </if>
            <if test="viewItem == 'tempor'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'T')
            </if>
            <if test="viewItem == 'pend'">
                (EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND a.approval_status = 'P'))
            </if>
            <if test="viewItem == 'concluded'">
                (EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND ad.doc_status IN ('A', 'R', 'P') AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'reference'">
                (ad.doc_status != 'T' and (EXISTS (SELECT 1 FROM received_ref r WHERE r.approval_doc_id = ad.approval_doc_id  AND (r.use_id =1 and r.category = 'U') OR (r.use_id =1 and r.category='D') OR (r.use_id = 1 and r.category='E') OR (r.use_id = 1 and r.category='C'))) )
            </if>
            <if test="viewItem == 'progress'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'P' AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.user_id = #{userId} AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'end'">
                (ad.org_user_id = #{userId} AND ad.doc_status  IN ('A', 'R') AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'reject'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'R' AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId}))
            </if>
        </foreach>
        )
        AND (
        ad.approval_doc_id LIKE CONCAT('%', #{searchInput}, '%')
        OR ad.approval_doc_title LIKE CONCAT('%', #{searchInput}, '%')
        OR ad.search_contents LIKE CONCAT('%', #{searchInput}, '%')
        OR u.user_name LIKE CONCAT('%', #{searchInput}, '%')
        OR f.form_name LIKE CONCAT('%', #{searchInput}, '%')
        )
        ORDER BY ad.created_at DESC
        LIMIT #{itemsPerPage} OFFSET #{offset};
    </select>

    <select id="getSearchDocCountByViewItems" resultType="bitedu.bipa.simplesignbackend.model.dto.DocumentListDTO">
        SELECT DISTINCT ad.approval_doc_id, ad.approval_doc_title, ad.created_at, ad.org_user_id, ad.doc_status, u.user_name, d.dept_name, f.form_name
        FROM approval_doc ad
        LEFT JOIN approval a ON ad.approval_doc_id = a.approval_doc_id
        JOIN user u ON (ad.org_user_id = u.user_id and u.user_id=#{userId})
        JOIN organization_user ou ON ou.user_id = #{userId}
        JOIN department d ON d.dept_id = ou.dept_id
        LEFT JOIN form f ON ad.form_code = f.form_code
        WHERE ad.doc_del_status = 0
        AND (
        <foreach collection="viewItems" item="viewItem" separator="OR">
            <if test="viewItem == 'send'">
                (ad.org_user_id = #{userId} AND ad.doc_status IN ('A', 'R', 'P', 'W') AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId}))
            </if>
            <if test="viewItem == 'tempor'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'T')
            </if>
            <if test="viewItem == 'pend'">
                (EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND a.approval_status = 'P'))
            </if>
            <if test="viewItem == 'concluded'">
                (EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND ad.doc_status IN ('A', 'R', 'P') AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'reference'">
                (ad.doc_status != 'T' and (EXISTS (SELECT 1 FROM received_ref r WHERE r.approval_doc_id = ad.approval_doc_id  AND (r.use_id =1 and r.category = 'U') OR (r.use_id =1 and r.category='D') OR (r.use_id = 1 and r.category='E') OR (r.use_id = 1 and r.category='C'))) )
            </if>
            <if test="viewItem == 'progress'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'P' AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.user_id = #{userId} AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'end'">
                (ad.org_user_id = #{userId} AND ad.doc_status  IN ('A', 'R') AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'reject'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'R' AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId}))
            </if>
        </foreach>
        )
        AND (
        ad.approval_doc_id LIKE CONCAT('%', #{searchInput}, '%')
        OR ad.approval_doc_title LIKE CONCAT('%', #{searchInput}, '%')
        OR ad.search_contents LIKE CONCAT('%', #{searchInput}, '%')
        OR u.user_name LIKE CONCAT('%', #{searchInput}, '%')
        OR f.form_name LIKE CONCAT('%', #{searchInput}, '%')
        );
    </select>

    <sql id="commonIfConditions">
        <if test="criteria.startDate != null and criteria.endDate != null">
            <choose>
                <when test="criteria.searchDate == 'sendDate'"  >
                    AND (ad.created_at BETWEEN #{criteria.startDate} AND #{criteria.endDate})
                </when>
                <when test="criteria.searchDate == 'arrivedDate'">
                    AND (a.user_id=#{userId} AND a.receive_date BETWEEN #{criteria.startDate} AND #{criteria.endDate})
                </when>
                <when test="criteria.searchDate == 'approvDate'">
                    AND (approval_status IN('A','R') AND a.approval_date BETWEEN #{criteria.startDate} AND #{criteria.endDate})
                </when>
                <when test="criteria.searchDate == 'closedDate'">
                    AND (ad.end_at BETWEEN #{criteria.startDate} AND #{criteria.endDate})
                </when>
            </choose>
        </if>
        <if test="criteria.searchTitle != null and criteria.searchTitle != ''">
            AND ad.approval_doc_title LIKE CONCAT('%', #{criteria.searchTitle}, '%')
        </if>
        <if test="criteria.searchContent != null and criteria.searchContent != ''">
            AND ad.search_contents LIKE CONCAT('%', #{criteria.searchContent}, '%')
        </if>
        <if test="criteria.searchDept != null and criteria.searchDept != ''">
            AND d.dept_name LIKE CONCAT('%', #{criteria.searchDept}, '%')
        </if>
        <if test="criteria.searchWriter != null and criteria.searchWriter != ''">
            AND u.user_name LIKE CONCAT('%', #{criteria.searchWriter}, '%')
        </if>
        <if test="criteria.searchApprovUser != null and criteria.searchApprovUser != ''">
            AND (a.approval_status IN ('A', 'R') AND u.user_name LIKE CONCAT('%', #{criteria.searchApprovUser}, '%'))
        </if>
        <if test="criteria.searchApprovState != null and criteria.searchApprovState != ''">
            <choose>
                <when test="criteria.searchApprovState == '상신'"  >
                    AND ad.doc_status = 'W'
                </when>
                <when test="criteria.searchApprovState == '진행'">
                    AND ad.doc_status = 'P'
                </when>
                <when test="criteria.searchApprovState == '종결'">
                    AND ad.doc_status IN ('A', 'R')
                </when>
                <when test="criteria.searchApprovState == '반려'">
                    AND ad.doc_status = 'R'
                </when>
            </choose>
        </if>
        <if test="criteria.searchDocForm != null and criteria.searchDocForm != ''">
            AND f.form_name LIKE CONCAT('%', #{criteria.searchDocForm}, '%')
        </if>
        <if test="criteria.searchDocNumber > 0">
            AND ad.approval_doc_id LIKE CONCAT('%', #{criteria.searchDocNumber}, '%')
        </if>
    </sql>

    <select id="getDetailSearchDocsList" resultType="bitedu.bipa.simplesignbackend.model.dto.DocumentListDTO">
        SELECT DISTINCT ad.approval_doc_id, ad.approval_doc_title, ad.created_at, ad.org_user_id, ad.doc_status, u.user_name, d.dept_name, f.form_name
        FROM approval_doc ad
        LEFT JOIN approval a ON ad.approval_doc_id = a.approval_doc_id
        JOIN user u ON (ad.org_user_id = u.user_id and u.user_id=#{userId})
        JOIN organization_user ou ON ou.user_id = #{userId}
        JOIN department d ON d.dept_id = ou.dept_id
        LEFT JOIN form f ON ad.form_code = f.form_code
        WHERE ad.doc_del_status = 0
        AND (
        <foreach collection="viewItems" item="viewItem" separator="OR">
            <if test="viewItem == 'send'">
                (ad.org_user_id = #{userId} AND ad.doc_status IN ('A', 'R', 'P', 'W') AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId}))
            </if>
            <if test="viewItem == 'tempor'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'T')
            </if>
            <if test="viewItem == 'pend'">
                (EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND a.approval_status = 'P'))
            </if>
            <if test="viewItem == 'concluded'">
                (EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND ad.doc_status IN ('A', 'R', 'P') AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'reference'">
                (ad.doc_status != 'T' and (EXISTS (SELECT 1 FROM received_ref r WHERE r.approval_doc_id = ad.approval_doc_id  AND (r.use_id =1 and r.category = 'U') OR (r.use_id =1 and r.category='D') OR (r.use_id = 1 and r.category='E') OR (r.use_id = 1 and r.category='C'))) )
            </if>
            <if test="viewItem == 'progress'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'P' AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.user_id = #{userId} AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'end'">
                (ad.org_user_id = #{userId} AND ad.doc_status  IN ('A', 'R') AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'reject'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'R' AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId}))
            </if>
        </foreach>
        )
        <include refid="commonIfConditions"/>
        ORDER BY ad.created_at DESC
        LIMIT #{itemsPerPage} OFFSET #{offset};
    </select>

    <select id="getDetailSearchDocsCount" resultType="bitedu.bipa.simplesignbackend.model.dto.DocumentListDTO">
        SELECT DISTINCT ad.approval_doc_id, ad.approval_doc_title, ad.created_at, ad.org_user_id, ad.doc_status, u.user_name, d.dept_name, f.form_name
        FROM approval_doc ad
        LEFT JOIN approval a ON ad.approval_doc_id = a.approval_doc_id
        JOIN user u ON (ad.org_user_id = u.user_id and u.user_id=#{userId})
        JOIN organization_user ou ON ou.user_id = #{userId}
        JOIN department d ON d.dept_id = ou.dept_id
        LEFT JOIN form f ON ad.form_code = f.form_code
        WHERE ad.doc_del_status = 0
        AND (
        <foreach collection="viewItems" item="viewItem" separator="OR">
            <if test="viewItem == 'send'">
                (ad.org_user_id = #{userId} AND ad.doc_status IN ('A', 'R', 'P', 'W') AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId}))
            </if>
            <if test="viewItem == 'tempor'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'T')
            </if>
            <if test="viewItem == 'pend'">
                (EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND a.approval_status = 'P'))
            </if>
            <if test="viewItem == 'concluded'">
                (EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND ad.doc_status IN ('A', 'R', 'P') AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'reference'">
                (ad.doc_status != 'T' and (EXISTS (SELECT 1 FROM received_ref r WHERE r.approval_doc_id = ad.approval_doc_id  AND (r.use_id =1 and r.category = 'U') OR (r.use_id =1 and r.category='D') OR (r.use_id = 1 and r.category='E') OR (r.use_id = 1 and r.category='C'))) )
            </if>
            <if test="viewItem == 'progress'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'P' AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.user_id = #{userId} AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'end'">
                (ad.org_user_id = #{userId} AND ad.doc_status  IN ('A', 'R') AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId} AND a.approval_status IN ('A', 'R')))
            </if>
            <if test="viewItem == 'reject'">
                (ad.org_user_id = #{userId} AND ad.doc_status = 'R' AND EXISTS (SELECT 1 FROM approval a WHERE a.approval_doc_id = ad.approval_doc_id AND a.org_user_id = #{userId}))
            </if>
        </foreach>
        )
        <include refid="commonIfConditions"/>;
    </select>
</mapper>

