<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitedu.bipa.simplesignbackend.mapper.ApproveMapper">


    <!--결재문서삽입-->
   <insert id="insertApprovalDoc" parameterType="ApprovalDocReqDTO">
        insert into approval_doc (user_id, dept_id, grade_name, position_name, form_code, approval_doc_title, contents,
            created_at, approval_count, doc_status, enforcement_date, doc_del_status, seq_code)
        values (#{userId}, #{deptId}, #{gradeName}, #{positionName}, #{formCode}, #{approvalDocTitle}, #{contents},
            #{createdAt}, #{approvalCount}, #{docStatus}, #{enforcementDate}, 0, #{seqCode});
   </insert>

    <!--결재라인 삽입-->
    <insert id="insertApprovalLine" parameterType="ApprovalLineDTO">
        insert into approval
            (approval_doc_id, approval_order, approval_status, user_id, dept_id, grade_name, position_name, receive_date, approval_date)
        values(#{approvalDocId}, #{approvalOrder}, #{approvalStatus}, #{userId}, #{deptId}, #{gradeName}, #{positionName}, #{receiveDate}, #{approvalDate});
    </insert>

    <!--가장 최근 insert된 id 값 가져오기-->
    <select id="selectLastInserted">
        SELECT LAST_INSERT_ID();
    </select>

    <!--수신참조 삽입-->
    <insert id="insertReceivedRef" parameterType="ReceivedRefDTO">
        insert into received_ref (category, use_id, approval_doc_id)
            values( #{category}, #{id}, #{approvalDocId});
    </insert>

    <!--결재문서번호 삽입-->
    <insert id="insertProductNumber" parameterType="Map">
        insert into approval_doc (product_num) values(#{productNum})
            where approval_doc_id = #{approvalDocId};
    </insert>

    <!--결재승인-->

    <!--결재 가져오기-->
    <select id="selectApprovalByApprovalId" resultType="ApprovalResDTO" parameterType="Map">
        select approval_id, approval_doc_id, receive_date, approval_date, approval_order, approval_status,
                user_id, dept_id
        from approval
        where approval_doc_id = #{approvalDocId} and user_id = #{userId};
    </select>

    <!--결재 승인하기-->
    <update id="updateCurrentApproval" parameterType="ApprovalResDTO">
        update approval
        set approval_status = #{approvalStatus}, approval_date = #{approvalDate}
        where approval_id = #{approvalId} and user_id = #{userId};
    </update>


    <!--결재문서의 총 결재개수 가져오기-->
    <select id="selectApprovalCount" parameterType="int" resultType="ApprovalDocResDTO">
        select approval_doc_id, approval_count, doc_status, seq_code, user_id
        from approval_doc
        where approval_doc_id = #{approvalDocId};
    </select>

    <!--결재문서 업데이트-->
    <update id="updateApprovalDoc" parameterType="ApprovalDocResDTO">
        update approval_doc
        set doc_status = #{docStatus}, product_num = #{productNum}, end_at = #{endAt}
        where approval_doc_id = #{approvalDocId};
    </update>

    <!--상신 상위자 아이디 가져오기-->
    <select id="selectUpperApproverId" parameterType="ApprovalResDTO" resultType="ApprovalResDTO">
        select approval_id, user_id from approval
        where approval_doc_id = #{approvalDocId} and approval_order = #{approvalOrder}+1;
    </select>

    <!--결재 상신자 상태 업데이트하기-->
    <update id="updateUpperApproverId" parameterType="ApprovalResDTO">
        update approval
        set approval_status = #{approvalStatus}, receive_date = #{receiveDate}
        where approval_id = #{approvalId};
    </update>

    <!--결재문서 상신자 아이디 가져오기-->
    <select id="selectRecipientId" parameterType="int" resultType="int">
        select user_id from approval_doc where approval_doc_id = #{approvalDocId};
    </select>

    <!--수신참조 활성화 업데이트-->
    <update id="updateReceivedRefState" parameterType="int">
        update received_ref set active_state = 1
            where approval_doc_id = #{approvalDocId};
    </update>

    <!--하위결재자 아이디 리스트 가져오기-->

    <select id="selectLowerApproverId" parameterType="Map" resultType="int">
        <![CDATA[
            select user_id from approval where approval_doc_id = #{approvalDocId} and approval_order < #{approvalOrder};
        ]]>
    </select>

    <!--결재문서 상세조회-->
    <select id="selectApprovalDocById" parameterType="int" resultType="ApprovalDocDetailDTO">
        select approval_doc_id, t1.user_id, t1.dept_id, t3.user_name, t2.dept_name, created_at, approval_doc_title,
                contents, enforcement_date, product_num, t1.form_code, t4.default_form
        from approval_doc t1
            left join department t2
            on t1.dept_id = t2.dept_id
            left join user t3
            on t1.user_id = t3.user_id
            left join form t4
            on t1.form_code = t4.form_code
        where approval_doc_id = #{approvalDocId} and doc_del_status = 0;
    </select>

    <!--수신참조자 조회-->
    <select id="selectRecievedRefUserId" parameterType="int" resultType="int">
        select user_id from received_ref where approval_doc_id = #{approvalDocId} and active_state = 1;
    </select>

    <!--결재자 여부 확인-->
    <select id="selectUserCountByApprovalDoc" parameterType="Map" resultType="ApprovalOrderResDTO">
        select count(*) as count, approval_order from approval
        where approval_doc_id = #{approvalDocId} and user_id = #{userId};
    </select>

    <!--결재문서 수정이 가능한지 확인-->
    <select id="selectApprovalDocStatus" parameterType="int" resultType="char">
        select doc_status from approval_doc
            where approval_doc_id = #{approvalDocId};
    </select>
    <select id="selectApprovalStatusList" parameterType="Map" resultType="char">
        <![CDATA[
            select approval_status from approval
            where approval_doc_id = #{approvalDocId}
            and approval_order > #{approvalOrder};
        ]]>
    </select>

    <!--결재문서 수정하기-->
    <update id="updateApprovalDocFromRequest" parameterType="ApprovalDocReqDTO">
        update approval_doc
        set approval_doc_title = #{approvalDocTitle}, contents = #{contents}, created_at = #{createdAt}, updated_at = #{updatedAt},
        enforcement_date = #{enforcementDate}, seq_code = #{seqCode}
        where approval_doc_id = #{approvalDocId};
    </update>

    <!--문서수정 알람수신자 가져오기-->
    <select id="selectUpdateAlarmRecipient" parameterType="int" resultType="int">
        select user_id from approval
        where approval_doc_id = #{approvalDocId}
        and (approval_status = 'P' or approval_status = 'A');
    </select>

    <!--수신참조 삭제-->
    <delete id="deleteReceivedRef" parameterType="int">
        delete from received_ref
        where approval_doc_id = #{approvalDocId};
    </delete>

    <!--삭제할 결재문서의 작성자 확인-->
    <select id="selectUserIdByApprovalDoc" parameterType="int" resultType="int">
        select user_id from approval_doc
        where approval_doc_id = #{approvalDocId};
    </select>

    <!--결재문서 삭제하기-->
    <update id="deleteApprovalDoc" parameterType="int">
        update approval_doc set doc_del_status = 1
        where approval_doc_id = #{approvalDocId};
    </update>

</mapper>