<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitedu.bipa.simplesignbackend.mapper.AuthorityMapper">

    <select id="findAuthority" resultType="bitedu.bipa.simplesignbackend.model.dto.AuthorityDTO">
        select a.authority_name from user_role ur
        join authority a on ur.authority_code = a.authority_code
        where ur.org_user_id = #{userId}
    </select>

</mapper>