<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitedu.bipa.simplesignbackend.mapper.CommonMapper">

    <select id="getCompanyList" resultType="bitedu.bipa.simplesignbackend.model.dto.CompanyDTO">
        select comp_id as id, comp_name as name from company;
    </select>

    <!--해당 사용자의 소속 조직(부서,사업장,회사) 검색-->
    <select id="getBelongs" resultType="BelongOrganizationDTO" parameterType="int">
        select t1.user_id, t1.dept_id, t2.comp_id, t3.est_id, t2.comp_name, t3.est_name, t4.dept_name
        from organization_user t1
        left join
        company t2 on t1.comp_name = t2.comp_name
        left join
        establishment t3 on t1.est_name = t3.est_name
        left join
        department t4 on t1.dept_id = t4.dept_id
        where org_user_id = #{userId};
    </select>

    <!--해당 사용자의 현재 직책, 직급 검색-->
    <select id="getPositionAndGrade" resultType="PositionAndGradeDTO" parameterType="int">
        select grade_name, position_name, dept_id
        from grade t1
            inner join
            organization_user t2 on t1.grade_code = t2.grade_code
            inner join
            position t3 on t2.position_code = t3.position_code
        where org_user_id = #{userId};
    </select>

    <!--해당 사용자의 부서아이디 가져오기-->
    <select id="selectDeptId" resultType="int" parameterType="int">
        select dept_id
        from organization_user
        where org_user_id = #{userId};
    </select>

    <select id="getLastInsertId" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

    <select id="selectSeqItemList">
        SELECT code_id AS id, code_value AS value FROM common_code WHERE section_id = "005" AND code_status=1;
    </select>

    <select id="selectDeptList" resultType="int" parameterType="int">
        select dept_id
        from organization_user
        where org_user_id = #{userId};
    </select>

    <select id="selectCompIdByFormCode" resultType="int" parameterType="int">
        SELECT comp_id FROM form WHERE form_code=#{formCode};
    </select>

    <select id="selectCompIdBySeqCode" resultType="int" parameterType="int">
        SELECT comp_id FROM sequence WHERE seq_code=#{seqCode};
    </select>

<!--    <select id="getMember" resultType="Member">-->
<!--        select * from member where id = #{id}-->
<!--    </select>-->

<!--    <insert id="createMember">-->
<!--        insert into member(name, id) values(#{name}, #{id})-->
<!--    </insert>-->

<!--    <delete id="deleteMember">-->
<!--        delete from member-->
<!--        where id = #{id}-->
<!--    </delete>-->

<!--    <update id="updateMember">-->
<!--        update member set name = #{name}-->
<!--        where id = #{id}-->
<!--    </update>-->

</mapper>