<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitedu.bipa.simplesignbackend.mapper.CommonMapper">

    <select id="getCompanyList" resultType="bitedu.bipa.simplesignbackend.model.dto.CompanyDTO">
        select comp_id as id, comp_name as name from company;
    </select>

<!--    <select id="getMember" resultType="Member">-->
<!--        select * from member where id = #{id}-->
<!--    </select>-->

<!--    <insert id="createMember">-->
<!--        insert into member(name, id) values(#{name}, #{id})-->
<!--    </insert>-->

<!--    <delete id="deleteMember">-->
<!--        delete from member-->
<!--        where id = #{id}-->
<!--    </delete>-->

<!--    <update id="updateMember">-->
<!--        update member set name = #{name}-->
<!--        where id = #{id}-->
<!--    </update>-->

</mapper>