<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitedu.bipa.simplesignbackend.mapper.FormManageMapper">

    <select id="getFormAndCompList" resultType="bitedu.bipa.simplesignbackend.model.dto.FormAndCompDTO">
        SELECT form_code AS id, comp_name, form_name, form_used_status AS status FROM form
        INNER JOIN company ON form.comp_id = company.comp_id
        WHERE form.comp_id=#{compId} AND form_name like CONCAT('%', #{formName}, '%') AND form_used_status=#{status} AND form_del_status=0;
    </select>

    <select id="getFormDetail" resultType="bitedu.bipa.simplesignbackend.model.dto.FormDetailResDTO">
        SELECT form_code AS code, form_name AS formName, default_form AS defaultForm, main_form AS mainForm, form_used_status AS status
        FROM form WHERE form_code=#{code};
    </select>

    <select id="getFormDetailScope" resultType="bitedu.bipa.simplesignbackend.model.vo.FormDetailScopeVO">
        SELECT t1.category, t1.use_id as useId, CASE
            WHEN t1.category = 'C' THEN t2.comp_name
            WHEN t1.category = 'E' THEN t3.est_name
            WHEN t1.category = 'D' THEN t4.dept_name
            WHEN t1.category = 'U' THEN t5.user_name
        END AS name
        FROM (Select * FROM form_use_department WHERE form_code=#{code}) t1
            LEFT JOIN
            company t2 ON t1.use_id = t2.comp_id
            LEFT JOIN
            establishment t3 ON t1.use_id = t3.est_id
            LEFT JOIN
            department t4 ON t1.use_id = t4.dept_id
            LEFT JOIN
            user t5 ON t1.use_id = t5.user_id;
    </select>

    <select id="selectFormListWithSearch" resultType="FormListDTO"
            parameterType="BelongOrganizationDTO">
        select distinct  t1.form_code, form_name, form_explain
        from form t1
            left join
            form_use_department t2 on t1.form_code = t2.form_code
        where ((t2. category = 'U' and use_id = #{userId})
            or (t2.category = 'D' and use_id = #{deptId})
            or (t2.category = 'E' and use_id = #{estId})
            or (t2.category = 'C' and use_id =#{compId}))
            and t1.form_used_status = 1
            and t1.form_del_status = 0;
    </select>

    <select id="selectSequence" resultType="SequenceListDTO" parameterType="Map">
        select distinct t1.seq_code, seq_name as name
        from sequence t1
            left join
            sequence_use_form t2 on t1.seq_code = t2.seq_code
            left join
            sequence_use_department t3 on t3.seq_code = t2.seq_code
        where form_code =#{formCode}
        and ((t3. status = 'U' and use_id = #{belong.userId})
        or (t3.status = 'D' and use_id = #{belong.deptId})
        or (t3.status = 'E' and use_id = #{belong.estId})
        or (t3.status = 'C' and use_id =#{belong.compId}));
    </select>

    <select id="getFormItemList" resultType="bitedu.bipa.simplesignbackend.model.dto.FormItemDTO" >
        select form_list_code, form_list_name, form_list_tag from form_list
    </select>

    <insert id="createFormDetail" >
        INSERT INTO form(comp_id, form_name, default_form, main_form, form_used_status)
        VALUES(#{compId}, #{formName}, #{defaultForm}, #{mainForm}, #{status});
    </insert>

    <insert id="createFormScope" parameterType="map">
        INSERT INTO form_use_department(category, form_code, use_id) VALUES(#{category}, #{formCode}, #{useId});
    </insert>

    <update id="updateFormDetail" >
        UPDATE form
        SET form_name = #{formName},
        default_form = #{defaultForm},
        main_form = #{mainForm},
        form_used_status = #{status}
        WHERE form_code = #{code}
    </update>

    <delete id="delFormScope" parameterType="map">
        delete from form_use_department
        where category=#{category} and form_code = #{formCode} and use_id = #{useId}
    </delete>

    <insert id="insertIgnoreFormScope" parameterType="map">
        INSERT IGNORE INTO form_use_department(category, form_code, use_id)
        VALUES(#{category}, #{formCode}, #{useId});
    </insert>

    <update id="deleteForm">
        UPDATE form SET form_del_status=1 WHERE form_code = #{code}
    </update>

    <select id="selectFormListAll">
        select form_code AS id, form_name from form;
    </select>

    <select id="selectDefaultApprovalLine">
        SELECT c.comp_id, c.comp_name, d.dept_id, d.dept_name, u.user_id, u.user_name, line_order
        FROM default_approval_line AS dl
        INNER JOIN company AS c ON dl.comp_id=c.comp_id
        INNER JOIN department AS d ON dl.dept_id=d.dept_id
        INNER JOIN user AS u ON dl.user_id=u.user_id
        WHERE form_code=#{code} ORDER BY line_order;
    </select>

    <insert id="createDefaultApprovalLine" parameterType="map">
        insert into
        default_approval_line(form_code, user_id, dept_id, line_order, comp_id)
        values(#{formCode}, #{userId}, #{deptId}, #{lineOrder}, #{compId});
    </insert>

    <delete id="delDefaultLine" parameterType="map">
        DELETE FROM default_approval_line
        WHERE form_code=#{formCode} AND user_id = #{userId} AND dept_id = #{deptId} AND comp_id=#{compId}
    </delete>

    <insert id="insertIgnoreDefaultLine" parameterType="map">
        INSERT IGNORE INTO
        default_approval_line(form_code, user_id, dept_id, line_order, comp_id)
        VALUES(#{formCode}, #{userId}, #{deptId}, #{lineOrder}, #{compId});
    </insert>



</mapper>