<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitedu.bipa.simplesignbackend.mapper.OrgMapper">

    <!-- 트리뷰 -->
    <!-- 마스터 일 때 - 전체 회사 보여주기 -->
    <select id="selectOrgTreeView" resultType="OrgCompanyDTO">
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name, d.upper_dept_id
        from company c
        left join establishment e on c.comp_id = e.comp_id
        left join department d on e.est_id = d.est_id
        WHERE c.comp_name != 'Group'
        order by c.comp_id, e.est_id, d.dept_id;
    </select>
    <!-- 부서 마스터 or 사용자 일 때 - 자기 회사만 보여주기  -->
    <select id="selectOrgTreeViewComp" parameterType="int" resultType="OrgCompanyDTO">
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name, d.upper_dept_id
        from company c
        left join establishment e on c.comp_id = e.comp_id
        left join department d on e.est_id = d.est_id where c.comp_id = #{compId}
        order by c.comp_id, e.est_id, d.dept_id;
    </select>

    <!-- 하위 부서 체크 X -->
    <select id="selectComp" parameterType="int" resultType="OrgRespDTO">
        select * from company where comp_id = #{compId};
    </select>

    <select id="selectDeptEst" parameterType="int" resultType="OrgRespDTO">
        select c.comp_id, c.comp_name, e.est_id, e.est_name,
        null as dept_id, null as dept_name
        from company c
        left join establishment e on c.comp_id = e.comp_id
        where e.est_id = #{estId}
        union
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name
        from company c
        left join establishment e on c.comp_id = e.comp_id
        left join department d on e.est_id = d.est_id
        where e.est_id = #{estId} and d.dept_level = 1;
    </select>

    <select id="selectEst" parameterType="int" resultType="OrgRespDTO">
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name
        from company c
        left join establishment e on c.comp_id = e.comp_id
        left join department d on e.est_id = d.est_id and d.dept_level = 1
        where d.est_id=#{estId}
        order by c.comp_id, e.est_id, d.dept_id;
    </select>

    <select id="selectDept" parameterType="int" resultType="OrgRespDTO">
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name
        from company c
        left join establishment e on c.comp_id = e.comp_id
        left join department d on e.est_id = d.est_id
        where d.dept_id=#{deptId}
        order by c.comp_id, e.est_id, d.dept_id;
    </select>

    <select id="selectUser" parameterType="int" resultType="OrgRespDTO">
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name,
        NULL as position_code, NULL as position_name,
        NULL as grade_code, NULL as grade_name,
        NULL as org_user_id, NULL as user_name
        from company c
        left join establishment e on c.comp_id = e.comp_id
        left join department d on e.est_id = d.est_id
        where d.dept_id = #{deptId}
        UNION ALL
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name,
        p.position_code, p.position_name, g.grade_code, g.grade_name, o.org_user_id, u.user_name
        from organization_user o
        left join user u on o.user_id = u.user_id
        left join department d on o.dept_id = d.dept_id
        left join position p on o.position_code = p.position_code
        left join grade g on o.grade_code = g.grade_code
        left join establishment e on d.est_id = e.est_id
        left join company c on e.comp_id = c.comp_id
        where d.dept_id = #{deptId};
    </select>

    <!-- 하위 부서 체크 O -->
    <select id="selectBottomDeptComp" parameterType="int" resultType="OrgRespDTO">
        select comp_id, comp_name,
        null as est_id, null as est_name,
        null as dept_id, null as dept_name
        from company where comp_id = #{compId}
        UNION
        select c.comp_id, c.comp_name, e.est_id, e.est_name,
        null as dept_id, null as dept_name
        from company c
        left join establishment e on c.comp_id = e.comp_id
        where c.comp_id = #{compId}
        union
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name
        from company c
        left join establishment e on c.comp_id = e.comp_id
        left join department d on e.est_id = d.est_id
        where c.comp_id = #{compId}
        order by comp_id, est_id, dept_id;
    </select>

    <select id="selectBottomUserComp" parameterType="int" resultType="OrgRespDTO">
        select comp_id, comp_name,
        null as est_id, null as est_name,
        null as dept_id, null as dept_name,
        NULL as position_code, NULL as position_name,
        NULL as grade_code, NULL as grade_name,
        NULL as org_user_id, NULL as user_name
        from company where comp_id = #{compId}
        union
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name,
        NULL as position_code, NULL as position_name,
        NULL as grade_code, NULL as grade_name,
        NULL as org_user_id, NULL as user_name
        from company c
        left join establishment e on c.comp_id = e.comp_id
        left join department d on e.est_id = d.est_id
        where c.comp_id = #{compId}
        union
        select
        c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name,
        p.position_code, p.position_name, g.grade_code, g.grade_name, o.org_user_id, u.user_name
        from organization_user o
        left join user u on o.user_id = u.user_id
        left join department d on o.dept_id = d.dept_id
        left join position p on o.position_code = p.position_code
        left join grade g on o.grade_code = g.grade_code
        left join establishment e on d.est_id = e.est_id
        left join company c on e.comp_id = c.comp_id
        where c.comp_id = #{compId}
        order by comp_id, est_id, dept_id, org_user_id;
    </select>

    <select id="selectBottomDeptEst" parameterType="int" resultType="OrgRespDTO">
        select c.comp_id, c.comp_name, e.est_id, e.est_name,
        null as dept_id, null as dept_name
        from establishment e
        left join company c on c.comp_id = e.comp_id
        where e.est_id = #{estId}
        union
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name
        from establishment e
        left join company c on c.comp_id = e.comp_id
        left join department d on e.est_id = d.est_id
        where e.est_id = #{estId}
        order by comp_id, est_id, dept_id;
    </select>

    <select id="selectBottomUserEst" parameterType="int" resultType="OrgRespDTO">
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name,
        NULL as position_code, NULL as position_name,
        NULL as grade_code, NULL as grade_name,
        NULL as org_user_id, NULL as user_name
        from establishment e
        left join company c on e.comp_id = c.comp_id
        left join department d on e.est_id = d.est_id
        where e.est_id = #{estId}
        union
        select
        c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name,
        p.position_code, p.position_name, g.grade_code, g.grade_name, o.org_user_id, u.user_name
        from organization_user o
        left join user u on o.user_id = u.user_id
        left join department d on o.dept_id = d.dept_id
        left join position p on o.position_code = p.position_code
        left join grade g on o.grade_code = g.grade_code
        left join establishment e on d.est_id = e.est_id
        left join company c on e.comp_id = c.comp_id
        where e.est_id = #{estId};
    </select>

    <select id="selectBottomDept" parameterType="int" resultType="OrgRespDTO">
        WITH RECURSIVE RecursiveDept AS (
        SELECT c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name
        FROM department d
        left join establishment e on d.est_id = e.est_id
        left join company c on e.comp_id = c.comp_id
        WHERE dept_id = #{deptId}
        UNION
        SELECT c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name
        FROM department d
        JOIN RecursiveDept rd ON d.upper_dept_id = rd.dept_id
        left join establishment e on d.est_id = e.est_id
        left join company c on e.comp_id = c.comp_id
        )
        SELECT * FROM RecursiveDept;
    </select>

    <select id="selectBottomUser" parameterType="int" resultType="OrgRespDTO">
        WITH RECURSIVE RecursiveDept AS (
        SELECT c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name,
        NULL as position_code, NULL as position_name,
        NULL as grade_code, NULL as grade_name,
        NULL as org_user_id, NULL as user_name
        FROM department d
        left join establishment e on d.est_id = e.est_id
        left join company c on e.comp_id = c.comp_id
        WHERE dept_id = #{deptId}
        UNION
        SELECT c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name,
        NULL as position_code, NULL as position_name,
        NULL as grade_code, NULL as grade_name,
        NULL as org_user_id, NULL as user_name
        FROM department d
        JOIN RecursiveDept rd ON d.upper_dept_id = rd.dept_id
        left join establishment e on d.est_id = e.est_id
        left join company c on e.comp_id = c.comp_id
        )
        SELECT * FROM RecursiveDept
        union
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name,
        p.position_code, p.position_name, g.grade_code, g.grade_name, o.org_user_id, u.user_name
        from organization_user o
        join user u on o.user_id = u.user_id
        join department d on o.dept_id = d.dept_id
        join position p on o.position_code = p.position_code
        join grade g on o.grade_code = g.grade_code
        join establishment e on d.est_id = e.est_id
        join company c on e.comp_id = c.comp_id
        where d.dept_id = #{deptId};
    </select>

    <!-- 검색 -->
    <select id="searchComp" parameterType="String" resultType="OrgRespDTO">
        select * from company where comp_name like concat('%', #{search}, '%');
    </select>

    <select id="searchEst" parameterType="String" resultType="OrgRespDTO">
        select c.comp_id, c.comp_name, e.est_id, e.est_name
        from establishment e
        join company c on e.comp_id = c.comp_id
        where est_name like concat('%', #{search}, '%');
    </select>

    <select id="searchDept" parameterType="String" resultType="OrgRespDTO">
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name
        from department d
        join establishment e on d.est_id = e.est_id
        join company c on e.comp_id = c.comp_id
        where dept_name like concat('%', #{search}, '%');
    </select>

    <select id="searchUser" parameterType="String" resultType="OrgRespDTO">
        select c.comp_id, c.comp_name, e.est_id, e.est_name, d.dept_id, d.dept_name,
        p.position_code, p.position_name, g.grade_code, g.grade_name, o.org_user_id, u.user_name
        from user u
        join organization_user o on u.user_id = o.user_id
        join department d on o.dept_id = d.dept_id
        join position p on o.position_code = p.position_code
        join grade g on o.grade_code = g.grade_code
        join establishment e on d.est_id = e.est_id
        join company c on e.comp_id = c.comp_id
        where user_name like concat('%', #{search}, '%');
    </select>
</mapper>