<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitedu.bipa.simplesignbackend.mapper.ReplyMapper">

    <!--댓글조회-->
    <select id="selectAllReplyList" parameterType="int" resultType="ReplyResDTO">
        select reply_id, reply_content, approval_doc_id, upper_reply_id, reg_date, depth, group_no, group_ord, t2.org_user_id, user_name, approval_file_path, file_code
        from reply t1
        left join
        organization_user t2 on t1.org_user_id = t2.org_user_id
        left join user t3
        on t2.user_id = t3.user_id
        left join attatchment_file t4
        on t3.user_id = t4.use_id
        where approval_doc_id = #{approvalDocId} and reply_del_status = 0;
    </select>

    <!--댓글 작성-->
    <insert id="insertReply" parameterType="ReplyReqDTO"  useGeneratedKeys="true" keyProperty="replyId">
        insert into reply (reply_content, approval_doc_id, reg_date, depth, org_user_id)
            values(#{replyContent}, #{approvalDocId}, #{regDate}, 1, #{orgUserId});
    </insert>

    <!--댓글 마지막 순서 가져오기-->
    <select id="selectGroupOrd" resultType="int" parameterType="map">
        SELECT IFNULL(MAX(group_ord)+1, 1) FROM reply WHERE depth = #{depth} and approval_doc_id= #{approvalDocId};
    </select>

    <!--groupNo 업데이트-->
    <update id="updateGroupNoAndOrder" parameterType="map">
        update reply set group_no = #{replyId}, group_ord = #{groupOrd} where reply_id = #{replyId};
    </update>

    <!--대댓글 삽입하기-->
    <insert id="insertLowerReply" parameterType="ReplyReqDTO"  useGeneratedKeys="true" keyProperty="replyId">
        insert into reply (reply_content, approval_doc_id, reg_date, depth, group_no, org_user_id, upper_reply_id)
            values( #{replyContent}, #{approvalDocId}, #{regDate}, 2, #{groupNo}, #{orgUserId}, #{upperReplyId});
    </insert>

    <update id="updateGroupOrder" parameterType="map">
        update reply set group_ord = #{groupOrd} where reply_id = #{replyId};
    </update>

    <update id="updateReply" parameterType="ReplyReqDTO">
        update reply set reply_content = #{replyContent} , update_date = #{updateDate}
            where reply_id = #{replyId};
    </update>

    <update id="deleteReply" parameterType="int">
        update reply set reply_del_status = 1
        where reply_id = #{replyId};
    </update>

    <select id="selectReplierId" parameterType="int" resultType="int">
        select org_user_id from reply
        where reply_id = #{replyId};
    </select>

    <select id="selectReplierAndDepth" parameterType="int" resultType="ReplyResDTO">
        select org_user_id, depth from reply
        where reply_id = #{replyId};
    </select>

    <update id="deleteLowerReply" parameterType="int">
        update reply set reply_del_status = 1
            where group_no =#{replyId};
    </update>

    <!--댓글파일업로드-->
    <insert id="insertReplyAttachment" parameterType="ReplyAttachmentDTO">
        insert attatchment_file (file_name, approval_file_path, file_code, use_id, download_file_path)
        values (#{fileName}, #{approvalFilePath}, '04', #{replyId} , #{downloadFilePath});
    </insert>

    <!--해당 댓글에 맞는 파일이름 가져오기-->
    <select id="selectFileNamesAndFilePath" parameterType="int" resultType="FileResDTO">
        select file_name, download_file_path from attatchment_file
        where use_id = #{replyId} and file_code = '04';
    </select>


</mapper>