<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitedu.bipa.simplesignbackend.mapper.SeqManageMapper">

    <select id="getSeqAndCompList" resultType="bitedu.bipa.simplesignbackend.model.dto.SeqAndCompDTO">
        SELECT seq_code AS id, comp_name, seq_code AS code, seq_name, seq_description AS description FROM sequence
        INNER JOIN company ON sequence.comp_id = company.comp_id
        WHERE sequence.comp_id=#{compId} AND seq_name like CONCAT('%', #{seqName}, '%') AND seq_del_status=0;
    </select>

    <select id="getSeqDetail" resultType="bitedu.bipa.simplesignbackend.model.dto.SeqDetailDTO">
        select seq_code AS code, seq_name, Seq_description as description, seq_sort_order as sortOrder, product_form AS seqString, comp_id
        from sequence where seq_code=#{code};
    </select>

    <select id="selectSeqItems" resultType="java.lang.String">
        SELECT GROUP_CONCAT(code_value SEPARATOR ' ') AS result
        FROM common_code
        <where>
                AND section_id = "005"
            <if test="seqItems != null and seqItems.size() > 0">
                AND code_id IN
                <foreach collection="seqItems" item="seqItem" open="(" separator="," close=")">
                    #{seqItem}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getSeqDeptScope" resultType="bitedu.bipa.simplesignbackend.model.dto.SeqScopeDTO">
        SELECT t1.status AS category, t1.use_id as useId, CASE
        WHEN t1.status = 'C' THEN t2.comp_name
        WHEN t1.status = 'E' THEN t3.est_name
        WHEN t1.status = 'D' THEN t4.dept_name
        WHEN t1.status = 'U' THEN t5.user_name
        END AS name
        FROM (Select * FROM sequence_use_department WHERE seq_code=#{code}) t1
        LEFT JOIN
        company t2 ON t1.use_id = t2.comp_id
        LEFT JOIN
        establishment t3 ON t1.use_id = t3.est_id
        LEFT JOIN
        department t4 ON t1.use_id = t4.dept_id
        LEFT JOIN
        user t5 ON t1.use_id = t5.user_id;
    </select>

    <select id="getSeqFormScope" resultType="bitedu.bipa.simplesignbackend.model.dto.SeqScopeDTO">
        SELECT "F" AS category, fl.form_code AS useId, form_name AS name FROM (SELECT form_code FROM sequence_use_form WHERE seq_code=#{code}) fl
        LEFT JOIN form ON fl.form_code = form.form_code;
    </select>

    <update id="deleteSeq">
        UPDATE sequence SET seq_del_status=1 WHERE seq_code = #{code}
    </update>

    <insert id="createSeqDetail" >
        INSERT INTO sequence(seq_code, comp_id, seq_name, seq_description, seq_sort_order, product_form)
        VALUES(#{code}, #{compId}, #{seqName}, #{description}, #{sortOrder}, #{seqString});
    </insert>

    <insert id="createSeqDeptScope" parameterType="map">
        INSERT INTO sequence_use_department(status, seq_code, use_id) VALUES(#{category}, #{seqCode}, #{useId});
    </insert>

    <insert id="createSeqFormScope" parameterType="map">
        INSERT INTO sequence_use_form(form_code, seq_code) VALUES(#{formCode}, #{seqCode});
    </insert>

    <update id="updateSeqDetail" >
        UPDATE sequence SET
        seq_name=#{seqName},
        seq_description=#{description},
        seq_sort_order=#{sortOrder},
        product_form=#{seqString}
        WHERE seq_code=#{code};
    </update>

    <delete id="delDeptScope">
        delete from sequence_use_department
        where status=#{category} and seq_code = #{seqCode} and use_id = #{useId}
    </delete>

    <insert id="insertIgnoreDeptScope" parameterType="map">
        INSERT IGNORE INTO sequence_use_department(status, seq_code, use_id)
        VALUES(#{category}, #{seqCode}, #{useId});
    </insert>

    <delete id="delFormScope">
        delete from sequence_use_form
        where seq_code = #{seqCode} and form_code = #{formCode}
    </delete>

    <insert id="insertIgnoreFormScope" parameterType="map">
        INSERT IGNORE INTO sequence_use_form(form_code, seq_code)
        VALUES(#{formCode}, #{seqCode});
    </insert>
</mapper>