<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitedu.bipa.simplesignbackend.mapper.UserMapper">

    <select id="login" resultType="bitedu.bipa.simplesignbackend.model.dto.UserDTO">
        select * from user where login_id=#{loginId} and password=#{password};
    </select>

    <select id="loginSalt" resultType="String">
        select salt from user where login_id = #{loginId}
    </select>

    <select id="selectSalt" parameterType="int" resultType="String">
        select salt from user where user_id = #{userId}
    </select>

    <!-- 비밀번호 확인 -->
    <select id="passwordClick" parameterType="int" resultType="String">
        select password from user where user_id = #{userId};
    </select>

    <!-- 비밀번호 변경 -->
    <update id="updatePassword" parameterType="UserPasswordDTO">
        update user set password = #{newPassword}, salt = #{salt} where user_id = #{userId};
    </update>

    <!-- 회원정보 조회 -->
    <select id="selectUser" parameterType="int" resultType="UserDTO">
        select u.employee_number, u.user_name, u.login_id, u.email, u.phone, u.birth, u.gender, u.address,
        o.comp_name, o.est_name, d.dept_string, p.position_name, g.grade_name, u.employment_status, u.start_date
        from user u
        left join organization_user o on u.user_id = o.user_id
        left join department d on o.dept_id = d.dept_id
        left join position p on o.position_code = p.position_code
        left join grade g on o.grade_code = g.grade_code
        WHERE u.user_id = #{user_id};
    </select>

    <!-- 회원정보 수정 -->
    <update id="updateUser" parameterType="UserDTO">
        update user set address = #{address}, phone = #{phone} where user_id = #{userId};
    </update>

</mapper>